
<div class="container mt-4">
    <div class="row">
        <!-- Left Column: User List -->
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <div class="row">
                        <div class="col-6">
                            User List
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-primary btn-sm">Add New</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                       
                    </table>
                </div>
            </div>
        </div>

        <!-- Right Column: New User -->
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <div class="row">
                        <div class="col-6">
                            New User
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-primary btn-sm">Close</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                   <table>
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-md-6">
                          <label for="validationCustom01" class="form-label">First Name</label>
                          <input type="text" name="" [(ngModel)]="userObj.Fname" class="form-control" id="validationCustom01" placeholder="Enter first name" value="Mark" required>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="validationCustom02" class="form-label">Last Name</label>
                          <input type="text" name="" [(ngModel)]="userObj.Lname" class="form-control" id="validationCustom02" placeholder="Enter last name" value="Otto" required>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                        <div class="col-md-12">
                          <label for="validationCustomUsername" class="form-label">Username</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text"></span>
                            <input type="text" name="" [(ngModel)]="userObj.username" class="form-control" id="validationCustomUsername" placeholder="Enter username" required>
                            <div class="invalid-feedback">
                              Please choose a username.
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="validationCustom03" class="form-label">City</label>
                          <select  name="" [(ngModel)]="userObj.city" class="form-select" id="validationCustom04" required> 
                            <option selected disabled value="">Choose...</option>
                             @for (item of cityList$ | async; track $index) {
                                <option>{{item}}</option>
                             }
                           
                          </select>
                          <div class="invalid-feedback">
                            Please provide a valid city.
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label for="validationCustom04" class="form-label">State</label>
                          <select  name="" [(ngModel)]="userObj.state" class="form-select" id="validationCustom04" required> 
                            <option selected disabled value="">Choose...</option>
                            <option>California</option>
                          </select>
                          <div class="invalid-feedback">
                            Please select a valid state.
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label for="validationCustom05" class="form-label">Zip</label>
                          <input name="" [(ngModel)]="userObj.zipcode" type="text" class="form-control" id="validationCustom05" placeholder="Enter zip code" required>
                          <div class="invalid-feedback">
                            Please provide a valid zip.
                          </div>
                        </div>
                        <div class="col-12 text-center">
                          <button class="btn btn-primary w-50" type="submit">Submit</button>
                        </div>
                      </form>
                      
                   </table> 
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>